body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #774b4b;
}
main {
    max-width: 300px;
    background-color: rgb(3, 3, 3);
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(145, 126, 126, 0.1);
    box-sizing: border-box;
}
input, button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}
input:focus {
    box-shadow: 0 0 5px rgb(206, 201, 201);
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
}
button img {
    margin-right: 5px;
    width: 25px;
}