*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    color:blue
}

body {
    font-family: 'times new roman', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: gray;
}

header {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100vw;
    background-color: #F78F1E;
    color: white;
    text-align: center;
    padding: 20px ;
    z-index: 1000;
}



.centralizado {
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(218, 111, 11);
    font-size: 24px;
    margin-top: 75px; 
    list-style-type: none;
}

.centralizado li {
    margin: 10px;
    color: blue;
}

.centralizado a {
    color: white;
    text-decoration: none;
}


.texto-centralizado {
    width: 70%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
    padding: 30px;
}


footer {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 30px;
}
